.calculations-form
  display: flex
  flex-wrap: wrap
  justify-content: space-evenly

  .controls-block
    display: flex
    align-items: center
    flex-direction: column

  .actions-block
    display: flex
    flex-direction: column
    justify-content: space-evenly
