<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <div class="history-title">
        <span>User: {{historyInfo.user.login}}</span>
        <span class="second-title">Date: {{historyInfo.date}}</span>
      </div>
    </mat-panel-title>
    <mat-panel-description>
      Задача: {{getTaskTypeDescription()}}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <app-task1-group *ngIf="+historyInfo.calculationCoefficients.taskNum === taskType.ScruberParams; else task3" [task1Coefficients]="historyInfo.calculationCoefficients" [task1CalculationResults]="historyInfo.calculationResults"></app-task1-group>
  <ng-template #task3>
    <app-task3-group [task3Coefficients]="historyInfo.calculationCoefficients" [task3CalculationResults]="historyInfo.calculationResults"></app-task3-group>
  </ng-template>
</mat-expansion-panel>
