<div class="header-container">
    <div class="header-container__general-info">
        <div class="header-container__general-info__logo">
            <img class="header-container__general-info__logo--image" alt="brand-logo" src="../../../../../assets/images/boiler_white.svg">
            <div class="header-container__general-info__logo--title">
                BoilApp
            </div>
        </div>
        <div class="header-container__general-info__tabs">
            <div class="header-container__general-info__tabs--item"
                 [class.header-container__general-info__tabs--item__active]="isTabActive(headerTabsEnum.Calculations)"
                 (click)="tabChanged(headerTabsEnum.Calculations)">
              Рассчет
            </div>
            <div class="header-container__general-info__tabs--item"
                 [class.header-container__general-info__tabs--item__active]="isTabActive(headerTabsEnum.UnitConvertions)"
                 (click)="tabChanged(headerTabsEnum.UnitConvertions)">Конвертор величин</div>
            <div class="header-container__general-info__tabs--item"
                 [class.header-container__general-info__tabs--item__active]="isTabActive(headerTabsEnum.UserHistory)"
                 (click)="tabChanged(headerTabsEnum.UserHistory)">История расчетов</div>
            <div class="header-container__general-info__tabs--item"
                 *ngIf="userService.isAdmin()"
                 [class.header-container__general-info__tabs--item__active]="isTabActive(headerTabsEnum.AdminHistory)"
                 (click)="tabChanged(headerTabsEnum.AdminHistory)">История расчетов всех пользователей</div>
            <div class="header-container__general-info__tabs--item"
                 *ngIf="userService.isAdmin()"
                 [class.header-container__general-info__tabs--item__active]="isTabActive(headerTabsEnum.Admin)"
                 (click)="tabChanged(headerTabsEnum.Admin)">Админ</div>
        </div>
    </div>
    <div class="header-container__user-info">
        <app-header-menu></app-header-menu>
    </div>
</div>
