<div class="header-container">
    <div class="header-container__general-info">
        <div class="header-container__general-info__logo">
            <img class="header-container__general-info__logo--image" alt="brand-logo" src="../../../../../assets/images/boiler_white.svg">
            <div class="header-container__general-info__logo--title">
                BoilApp
            </div>
        </div>
        <div class="header-container__general-info__tabs">
            <div class="header-container__general-info__tabs--calculations">Рассчет</div>
            <div class="header-container__general-info__tabs--plots">Графики</div>
            <div class="header-container__general-info__tabs--admin-page">Админ</div>
        </div>
    </div>
    <div class="header-container__user-info">
        <div class="header-container__user-info--navigation">
            <mat-icon>apps</mat-icon>
        </div>
        <div class="header-container__user-info--user">
            <mat-icon>person</mat-icon>
        </div>
    </div>
</div>
