<div class="chart-container" *ngIf="calculationsResults && (tabChanged | async); else calculateFirst">
  <mat-form-field class="data-type-selector" *ngIf="taskType === taskTypeEnum.ScruberParams">
    <mat-label>Выберите данные для расчета</mat-label>
    <mat-select [formControl]="chart1DataType">
      <mat-option [value]="chart1DataTypeEnum.Temperature">Temperature</mat-option>
      <mat-option [value]="chart1DataTypeEnum.Humidity">Humidity</mat-option>
    </mat-select>
  </mat-form-field>
  <canvas baseChart width="400" height="400"
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          [chartType]="barChartType"
          [plugins]="barChartPlugins">
  </canvas>
</div>

<ng-template #calculateFirst>
  <p class="no-chart-label">Расчитайте данные, чтобы увидеть график!</p>
</ng-template>

