<div class="chart-container" *ngIf="calculationsResults && (tabChanged | async); else calculateFirst">
  <canvas baseChart width="400" height="400"
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins">
  </canvas>
  <span>{{xAxisLabel}}</span>
</div>

<ng-template #calculateFirst>
  <p class="no-chart-label">Расчитайте данные, чтобы увидеть график!</p>
</ng-template>

