.calculations-form
  flex-wrap: wrap
  display: flex
  justify-content: space-evenly
  width: 60%

  .controls-block
    width: 280px
    display: flex
    align-items: center
    flex-direction: column

    mat-form-field
      width: 90%

.actions-block
  display: flex
  flex-direction: column
  justify-content: space-evenly

.group-container
  display: flex
  justify-content: space-evenly
  align-items: center