<div class="calculations-label">
  <p>Дополнительные материалы</p>
</div>

<div class="materials-container">
  <div class="material">
    <p>I-d диаграмма</p>
    <div class="img-container">
      <img src="../../../assets/images/ldd.jpg" alt="ld diagramm">
    </div>
    <p>В координатах I-d наносят зависимости основных параметров влажного воздуха:

      температуры, влагосодержания, относительной влажности, энтальпии при заданном барометрическом давлении. По оси ординат откладывают энтальпию на 1 кг сухого воздуха (кДж/кг), а по оси абсцисс — влагосодержании воздуха (в г на 1 кг сухого воздуха).

      I-d - диаграмма построена в косоугольной системе координат с углом между осями 1500 (1200). Такая система позволяет расширить на диаграмме область влажного ненасыщенного воздуха, что делает ее удобной для графических построений.</p>
  </div>
</div>
