<div class="unit-conversion-label">
  <p>Преобразование единиц системы интернациональной в техническую систему единиц</p>
</div>

<div class="unit-convertion-container">
  <div class="select-container">
    <mat-form-field>
      <mat-label>Величина СИ</mat-label>
      <mat-select (selectionChange)="onSiValueChange($event)" [(value)]="selectedSiValue">
        <mat-option *ngFor="let siValue of siValues" [value]="siValue">
          {{siValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Величина МКГСС</mat-label>
      <mat-select (selectionChange)="onMkggsValueChange($event)">
        <mat-option *ngFor="let mkggsValue of mkgssValues" [value]="mkggsValue">
          {{mkggsValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <form [formGroup]="convertionForm" class="input-container">
    <mat-form-field>
      <input matInput
             formControlName="si"
             ngDefaultControl
             type="email"
             placeholder="Введите значение">
    </mat-form-field>

    <mat-form-field>
      <input matInput
             formControlName="mkggs"
             ngDefaultControl
             type="email">
    </mat-form-field>
  </form>

  <button mat-raised-button
          class="text-uppercase"
          type="submit"
          class="convertion-button"
          color="primary"
          [disabled]="!selectedSiValue || !selectedMkggsValue || convertionForm.invalid"
          (click)="calculate()"
          i18n="Кнопка для входа после ввода логина и пароля|">Расчитать
  </button>
</div>
